@using FluiTec.AppFx.AspNetCore.Examples.AuthExample.Resources.Views.Account
@using FluiTec.AppFx.Identity.Models.AccountViewModels
@model ForgotPasswordViewModel
@inject IHtmlLocalizer<ForgotPasswordResource> Localizer

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>@Localizer.GetString(() => ForgotPasswordResource.ForgotHeader)</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h4>@Localizer.GetString(() => ForgotPasswordResource.RecoverHeader)</h4>
            <hr />
            <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Email" placeholder="@Localizer.GetString(() => ForgotPasswordResource.EmailPlaceHolder)" data-rule-required="true" data-msg-required="@Localizer.GetString(() => ForgotPasswordResource.EmailRequired)" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="@Localizer.GetString(() => ForgotPasswordResource.SubmitButton)" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
