<!DOCTYPE HTML>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
<head>
	@Html.Partial("_Head")
</head>
</cache>
<body>
	@Html.Partial("_NavBar")
	@RenderBody()
	@Html.Partial("_Footer")
	@Html.Partial("_Scripts")
</body>
</html>