@using FluiTec.AppFx.AspNetCore.Examples.AuthExample.Resources.Views.Profile
@using FluiTec.AppFx.Identity.Models.ManageViewModels
@model ChangePasswordViewModel
@inject IHtmlLocalizer<ChangePasswordResource> Localizer

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>@Localizer.GetString(() => ChangePasswordResource.PasswordHeader)</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h4>@Localizer.GetString(() => ChangePasswordResource.ChangePasswordHeader)</h4>
            <hr />
            <form asp-controller="Profile" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="OldPassword" placeholder="@Localizer.GetString(() => ChangePasswordResource.OldPasswordPlaceHolder)" data-rule-required="true" data-msg-required="@Localizer.GetString(() => ChangePasswordResource.OldPasswordRequired)" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="NewPassword" placeholder="@Localizer.GetString(() => ChangePasswordResource.NewPasswordPlaceHolder)" data-rule-required="true" data-msg-required="@Localizer.GetString(() => ChangePasswordResource.NewPasswordRequired)" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="ConfirmPassword" placeholder="@Localizer.GetString(() => ChangePasswordResource.ConfirmPasswordPlaceHolder)" data-rule-required="true" data-msg-required="@Localizer.GetString(() => ChangePasswordResource.ConfirmPasswordRequired)" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="@Localizer.GetString(() => ChangePasswordResource.SubmitButton)" />
                            </li>
                            <li>
                                <input type="reset" value="@Localizer.GetString(() => ChangePasswordResource.ResetButton)" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

