@using FluiTec.AppFx.AspNetCore.Examples.AuthExample.Resources.Views.Profile
@using FluiTec.AppFx.Identity.Models.ManageViewModels
@model SetPasswordViewModel
@inject IHtmlLocalizer<SetPasswordResource> Localizer

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>@Localizer.GetString(() => SetPasswordResource.PasswordHeader)</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h4>@Localizer.GetString(() => SetPasswordResource.SetPasswordHeader)</h4>
            <hr />
            <form asp-controller="Profile" asp-action="SetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="NewPassword" placeholder="@Localizer.GetString(() => SetPasswordResource.NewPasswordPlaceHolder)" data-rule-required="true" data-msg-required="@Localizer.GetString(() => SetPasswordResource.NewPasswordRequired)" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="ConfirmPassword" placeholder="@Localizer.GetString(() => SetPasswordResource.ConfirmPasswordPlaceHolder)" data-rule-required="true" data-msg-required="@Localizer.GetString(() => SetPasswordResource.ConfirmPasswordRequired)" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="@Localizer.GetString(() => SetPasswordResource.SubmitButton)" />
                            </li>
                            <li>
                                <input type="reset" value="@Localizer.GetString(() => SetPasswordResource.ResetButton)" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

